name: Generate Snake Animation

on:
  
  schedule:
    - cron: "0 */12 * * *"
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake SVG
        
        uses: Platane/snk/svg-only@v3
        with:
          
          github_user_name: ${{ github.repository_owner }}
          
          
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Push new snake files
        
        uses: crazy-max/ghaction-github-pages@v3
        with:
          build_dir: dist
          target_branch: output
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
